<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
  "-//-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
  >
<mapper namespace="com.lunchteam.lunchrestapi.api.mapper.MenuMapper">
  <select
    id="getRandomMenu"
    resultType="MenuResult"
    parameterType="java.util.Map">
    select
      lm.id,
      lm.name,
      lm.location,
      lm.menu_type,
      lmt.menu_name,
      max(ll.insert_date_time) as recent_visit,
      count(ll.id)             as visit_count
    from lunch_menu lm
      left outer join lunch_log ll on lm.id = ll.menu_id
      left join lunch_menu_type lmt on lm.menu_type = lmt.menu_type
    where lm.use_yn = 'Y'
      and lm.id not in (select *
                        from (select menu_id
                              from lunch_log ll
                              order by ll.insert_date_time desc
                              limit 5) as tmp)
      <if test="menuType != null and (!menuType.equalsIgnoreCase('all'))">
        and lm.menu_type = #{menuType}
      </if>
    group by lm.id, lm.name
    order by rand()
    limit #{number}
  </select>
  <select
    id="getVisitCountGroupByMenuName"
    resultType="java.util.Map"
    parameterType="java.util.Map">
    select count(menu_id) as visitCount,
           lmt.menu_name
    from lunch_log ll
           join lunch_menu lm on ll.menu_id = lm.id
           join lunch_menu_type lmt on lm.menu_type = lmt.menu_type
    group by lm.menu_type
  </select>
  <select
    id="getVisitCountGroupByDayOfWeek"
    resultType="java.util.Map"
    parameterType="java.util.Map">
    select T.visitCount,
           (
             select (
                      case
                        when T.day = 2 then 'MON'
                        when T.day = 3 then 'TUE'
                        when T.day = 4 then 'WED'
                        when T.day = 5 then 'THU'
                        when T.day = 6 then 'FRI'
                        end
                      )
           ) as day
    from (
           select count(1)                       as visitCount,
                  dayofweek(ll.insert_date_time) as day
           from lunch_log ll
                  join lunch_menu lm on ll.menu_id = lm.id
           where lm.menu_type = #{menuType}
           group by dayofweek(ll.insert_date_time)) as T
    order by T.day
  </select>
</mapper>