<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
  "-//-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
  >
<mapper namespace="com.lunchteam.lunchrestapi.api.mapper.MenuMapper">
  <select
    id="getRandomMenu"
    resultType="com.lunchteam.lunchrestapi.api.dto.menu.MenuResult"
    parameterType="java.util.Map">
    select *
    from lunch_menu lm
    where lm.use_yn = 'Y'
      and lm.id not in (
      select *
      from (select menu_id
            from lunch_log ll
            order by ll.insert_date_time desc
            limit 5) as tmp
    )
    order by rand()
    limit #{number}
  </select>
</mapper>